<div class="container-fluid">
  <div class="header">
    <a href="#top">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
        height="80"
      />
    </a>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-2" floatLabel="always">
      <div class="input-group rounded">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search 1st generation pokemon"
          [formControl]="search"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
    <section class="col-12">
      <mat-slide-toggle
        color="primary"
        [checked]="classicMode"
        (change)="classicMode = !classicMode"
      >
        <span style="font-weight: bold">{{
          classicMode ? "Gif" : "Classic"
        }}</span>
      </mat-slide-toggle>
    </section>
  </div>
  <div class="row justify-content-center" *ngIf="isLoading">
    <div class="col-4">
      <span>Loading.... please wait</span>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div
    *ngIf="!isSearching"
    class="row pokemon-list"
    (scroll)="onScroll($event)"
  >
    <div
      id="top"
      class="col-sm-6 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let pokemon of pokemons | searchFilter: searchText"
      (click)="onDetail(pokemon)"
    >
      <div
        class="card {{
          'bg-color-' + getPrincipalType(pokemon.types) + '-light'
        }}"
      >
        <h4 class="color-lightgray">#{{ pokemon.id }}</h4>
        <div class="card-info">
          <h3 class="color-black">{{ pokemon.name }}</h3>
          <span
            class="color-black {{
              'bg-color-' + getPrincipalType(pokemon.types)
            }}"
            *ngFor="let type of pokemon.types"
            >{{ type.type.name }}</span
          >
        </div>
        <div class="card-img">
          <img
            height="100"
            *ngIf="!classicMode"
            [src]="pokemon.sprites.other?.dream_world?.front_default"
            [alt]="pokemon.name"
          />
          <img
            *ngIf="classicMode"
            src="https://projectpokemon.org/images/normal-sprite/{{
              pokemon.name
            }}.gif"
            [alt]="searchPokemon.name"
          />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isSearching" class="pokemon-list" (scroll)="onScroll($event)">
    <div
      (click)="onDetail(searchPokemon)"
      class="col-sm-6 col-md-6 col-lg-4 col-xl-4"
    >
      <div
        class="card {{
          'bg-color-' + getPrincipalType(searchPokemon.types) + '-light'
        }}"
      >
        <h4 class="color-lightgray">#{{ searchPokemon.id }}</h4>
        <div class="card-info">
          <h2 class="color-black">{{ searchPokemon.name }}</h2>
          <span
            class="color-black {{
              'bg-color-' + getPrincipalType(searchPokemon.types)
            }}"
            *ngFor="let type of searchPokemon.types"
            >{{ type.type.name }}</span
          >
        </div>
        <div class="card-img">
          <img
            height="100"
            *ngIf="!classicMode"
            [src]="searchPokemon.sprites?.other?.dream_world?.front_default"
            [alt]="searchPokemon.name"
          />
          <img
            *ngIf="classicMode"
            src="https://projectpokemon.org/images/normal-sprite/{{
              searchPokemon.name
            }}.gif"
            [alt]="searchPokemon.name"
          />
        </div>
      </div>
    </div>
  </div>
</div>
