<div class="sheet-img">
  <img
    height="100"
    *ngIf="!classicMode"
    [src]="pokemon.sprites?.other?.dream_world?.front_default"
    [alt]="pokemon.name"
  />
  <img
    *ngIf="classicMode"
    src="https://projectpokemon.org/images/normal-sprite/{{ pokemon.name }}.gif"
    [alt]="pokemon.name"
  />
</div>

<mat-tab-group class="sheet">
  <mat-tab label="About">
    <div class="sheet-tab">
      <div class="sheet-item">
        <div class="color-black sheet-item-label">Height:</div>
        <div class="color-black sheet-item-label">Weight:</div>
        <div class="color-black sheet-item-label">Abilities:</div>
      </div>
      <div class="sheet-item">
        <div>{{ pokemon.height / 10 }} m</div>
        <div>{{ pokemon.weight / 10 }} kg</div>
        <div>{{ getAbilities() }}</div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Base Stats">
    <div class="sheet-tab">
      <div class="sheet-item w-100">
        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">HP:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[5].base_stat"
            ></app-progress-bar>
          </div>
        </div>

        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">Attack:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[4].base_stat"
            ></app-progress-bar>
          </div>
        </div>

        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">Defense:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[3].base_stat"
            ></app-progress-bar>
          </div>
        </div>

        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">Sp. Attack:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[2].base_stat"
            ></app-progress-bar>
          </div>
        </div>

        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">Sp. Defense:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[1].base_stat"
            ></app-progress-bar>
          </div>
        </div>

        <div class="sheet-progress w-100">
          <div class="w-20 color-black sheet-item-label">Speed:</div>
          <div class="w-80">
            <app-progress-bar
              [color]="getPrincipalType(pokemon.types)"
              [value]="pokemon.stats[0].base_stat"
            ></app-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
